body { 
  background-color: #e4634d;
}

.jumbotron {
  text-align: center;
  font-family: 'Lobster', cursive;
  color: black;
  background: #f4ebdc;
  border: 3px solid;
  border-color: #03414e;
  box-sizing: border-box;
  margin: 10px;
}

.current-time {
  color: #74b0bb;
}

.panel-title {
  color: black;
}

#heading {
  background: #c6ca52;
}

#train-schedule {
  color: black;
  background: #f4ebdc;
  border: 3px solid;
  border-color: #03414e;
  box-sizing: border-box;
  margin: 10px;
}

#add-train {
  color: black;
  background: #f4ebdc;
  border: 3px solid;
  border-color: #03414e;;
  box-sizing: border-box;
  margin: 10px;
  width: 35%;
}

